template(name='people')
  table.ui.very.basic.celled.table
    thead
      tr
        th Profiles (#{peopleCount}) verified (#{peopleVerified})
        th Mangos
        th Percent
        th Points
        th Age in Years
    tbody
    each users
      tr
        td
          h4.ui.image.header
            if profile.name
              img.ui.mini.rounded.image(src='#{profile.picture}')
            else
              img.ui.mini.rounded.image(src='/logo.png')
            a(href="{{pathFor 'singlePerson'}}")
              .content
                if profile.name
                  | #{profile.name}
                else
                  | (#{_id})
                .sub.header
                  if verified
                    | has been verified
                  else
                    | not verified yet
        td #{mangos}
        td #{percent}%
        td #{points}
        td #{years}

