template(name='people')
  table.ui.very.basic.celled.table
    thead
      tr
        th People (#{peopleCount}) verified (#{peopleVerified})
        th Account
        th BasicIncome
    tbody
    each users
      tr
        td
          h4.ui.image.header
            if fullname
              img.ui.mini.rounded.image(src='#{profile.picture}')
            else
              img.ui.mini.rounded.image(src='/CO|OPEN_Logo.png')
            a(href="{{pathFor 'singlePerson'}}")
              .content
                if fullname
                  | #{fullname}
                else
                  | #{_id}
                .sub.header
                  if verified
                    | verified via Facebook
                  else
                    | not verified yet
        td #{account}
        td #{gbi}

