template(name="subTransactions")
  form.ui.form.payProject
    .two.fields
      .field
        input(type="text", name="message", placeholder="optional message")
      .field
        .fields
          .ten.wide.field
            input(type="number", name="amount", placeholder="choose amount")
          .six.wide.field
            button.ui.button.fluid(type='submit') Give Mangos

  .ui.divider
  .ui.feed
    each transactions
      .event
        .label
          img(src='#{receiver.profile.picture}')
        .content
          .date #{createdAt}
          .summary
            p #{receiver.username} received #{mangos} from #{sender.username} over the #{project} project
