template(name="subTransactions")
  form.ui.form.payProject
    .two.fields
      .field
        input(type="text", name="message", placeholder="optional message")
      .field
        .ui.input.action
          input(type="text", name="amount", placeholder="choose amount")
          button.ui.button(type='submit') Pay Now

  .ui.divider
  .ui.feed
    each transactions
      .event
        .label
          img(src='/logo.png')
        .content
          .date #{createdAt}
          .summary
            p #{receiver} received #{mangos} from #{sender} over the #{project} project
