template(name="organisationOverview")
  img.ui.image.fluid(src="#{banner}")
  h3(style="font-weight: 300; margin-top: 0.5em; padding: 0.5em 2em") #{description}
  .ui.divider
  .ui.tiny.statistics(style="padding: 0.5em 2em")
    .statistic
      .value #{totalMangos}
      .label Mangos
    .statistic
      .value #{transactionsCount}
      .label Transactions
    .statistic
      .value #{messageCount}
      .label Messages

  .ui.divider
  .ui.feed(style="padding: 1em 3em")
    each transactions
      .event
        .label
          img(src='#{sender.profile.picture}')
        .content
          .date #{createdAt}
          .summary
            a(href="/people/#{sender._id}") #{sender.username}
            | has given #{mangos} Mangos
          .exta.text #{message}
