template(name="subMessages")
  #main
    form.ui.form.addMessage
      .fields
        .twelve.wide.field
          input(type="text", name="message", placeholder="message")
        .four.wide.field
          button.ui.button.fluid(type='submit') Send
    .ui.divider

    .ui.feed
      each messages
        .event
          .label
            a(href="/people/#{createdBy._id}")
              img(src='#{createdBy.profile.picture}')

          .content
            .date #{createdAt}
            .summary
              a(href="/people/#{createdBy._id}") #{createdBy.username}
            .extra.text #{message}
