template(name="subOverview")
  .ui.ten.doubling.cards(style="padding: 1em 2em 0.5em 2em")
    each shares
      a.card
        .image
          if receiver.profile.picture
            img(src="#{createdBy.profile.picture}")
          else
            img(src="/card.png")
  .ui.divider
  .ui.tiny.statistics(style="padding: 0.5em 2em")
    .statistic
      .value #{peopleCount}
      .label Contributors
    .statistic
      .value #{transactionsCount}
      .label Transactions
    .statistic
      .value #{actionsCount}
      .label Actions
    .statistic
      .value #{messageCount}
      .label Messages
    .statistic
      .value #{totalMangos}
      .label Mangos received
    .statistic
      .value #{totalTime}
      .label Minutes invested

  .ui.divider
  h3(style="font-weight: 300; margin-top: 0.5em; padding: 0.5em 2em") #{description}
  .ui.divider
  .ui.feed(style="padding: 1em 3em")
    each transactions
      .event
        .label
          img(src='#{receiver.profile.picture}')
        .content
          .summary #{receiver.username} received #{mangos} Mangos from #{sender.username}
            .date #{createdat}
          .exta.text #{message}
