template(name="subOverview")
  .ui.ten.doubling.cards
    each shares
      a.card
        .image
          img(src="#{createdBy.profile.picture}")
  .ui.divider
  .ui.tiny.statistics
    .statistic
      .value #{peopleCount}
      .label Contributors
    .statistic
      .value #{transactionsCount}
      .label Transactions
    .statistic
      .value #{actionsCount}
      .label Actions
    .statistic
      .value #{messageCount}
      .label Messages
    .statistic
      .value #{totalMangos}
      .label Mangos received
    .statistic
      .value #{totalTime}
      .label Minutes invested

  .ui.divider
  h3(style="font-weight: 300; margin-top: 0.5em") #{description}
  .ui.divider
  .ui.feed
    each transactions
      .event
        .label
          img(src='#{receiver.profile.picture}')
        .content
          .summary #{receiver.username} received #{mangos} Mangos from #{sender.username}
            .date #{createdat}
          .exta.text #{message}
