template(name="subPeople")
  #main
    table.ui.very.basic.celled.table
      thead
        tr
          th Person
          th Min (#{totalTime})
          th Share
      tbody
        each shares
          tr
            td
              h4.ui.image.header
                a(href="/people/#{createdBy._id}")
                  img.ui.mini.rounded.image(src="#{createdBy.profile.picture}")
                  .content #{createdBy.username}
                    .sub.header
                      | Placeholder
            td #{totalTime}
            td #{percent}%

