template(name='transactions')
  #main
    table.ui.very.basic.celled.table
      thead
        tr
          th Sender
          th Mangos
          th Receiver
          th Project / Orga
          th Date
          th Message
      tbody
      each transactions
        tr
          td
            a(href="/people/#{sender._id}") #{sender.username}
          td #{mangos}
          td
            a(href="/people/#{receiver._id}") #{receiver.username}
            a(href="/organisations/#{organisation._id}") #{organisation.name}
          td
            a(href="/projects/#{project._id}") #{project.name}
            a(href="/organisations/#{organisation._id}") #{organisation.name}
          td #{createdAt}
          td #{message}
