template(name='transactions')
  #main
    table.ui.very.basic.celled.table
      thead
        tr
          th Sender
          th Mangos
          th Receiver
          th Project / Orga
          th Date
          th Message
      tbody
      each transactions
        tr
          td #{username}
          td #{mangos}
          td #{receiver}
          td #{project}
          td #{createdAt}
          td #{message}
