template(name='singleProject')
  .ui.grid.stackable
    .four.wide.column
      .ui.header
        img(src='/logo.png')
        .content #{name}
          .sub.header #{username}
      .ui.vertical.fluid.right.secondary.menu
        a.active.item(data-tab="transactions") Transactions (#{transactionsCount})
        a.item(data-tab="actions") Actions (#{actionsCount})
        a.item(data-tab="people") People (#{peopleCount})
        a.item(data-tab="messages") Messages (#{messageCount})

    .twelve.wide.column.streched
      .ui.active.attached.tab(data-tab="transactions")
        +subTransactions
      .ui.attached.tab(data-tab="actions")
        +subActions
      .ui.attached.tab(data-tab="people")
        +subPeople
      .ui.attached.tab(data-tab="messages")
        +subMessages
