template(name='singleOrganisation')
  .ui.padded.grid.stackable
    .three.wide.column(style="border-right: solid 1px lightgrey;padding: 1.5em;")
      h3.ui.header
        img.ui.image(src="#{maintainer.profile.picture}")
        .content #{name}
          .sub.header #{maintainer.username}
      .ui.divider
      form.ui.form.payOrganisation
        .field
          label Mangos
          input(type="number", name="amount", placeholder="choose amount")
        .field
          label Optional Message
          textarea(rows="1", name="message", placeholder="optional message")
        .field
          button.ui.button.fluid(type='submit') Give Mangos
      .ui.divider
      .ui.vertical.fluid.secondary.menu
        a.active.item(data-tab="overview") Overview
        a.item(data-tab="projects") Projects (#{projectCount})
        a.item(data-tab="messages") Messages (#{messageCount})

    .thirteen.wide.column.streched(style="padding: 0")
      .ui.active.attached.tab(data-tab="overview")
        +organisationOverview
      .ui.attached.tab(data-tab="projects")
        +subProjects
      .ui.attached.tab(data-tab="messages")
        +subMessages

