template(name='singlePerson')
  .ui.padded.grid.stackable
    .three.wide.column(style="border-right: solid 1px lightgrey;padding: 1.5em")
      .ui.fluid.card
        if profile.picture
          .image
            img(src='#{profile.picture}')
        else
          .image
            img(src='/card.png')
        .content
          .header #{username}
          .meta #{age}
      .ui.vertical.secondary.menu
        a.active.item(data-tab="overview") Overview
        a.item(data-tab="transactions") Transactions (#{transactionsCount})
       // a.item(data-tab="actions") Actions (#{actionsCount})
        //a.item(data-tab="messages") Messages (#{messageCount})

    .thirteen.wide.column.streched(style="padding: 0em")
      .ui.active.attached.tab(data-tab="overview")
        +overviewPerson
      .ui.attached.tab(data-tab="transactions")
        +transactionsPerson
      //.ui.attached.tab(data-tab="actions")
        +subActions
      //.ui.attached.tab(data-tab="messages")
        +subMessages
