template(name='singlePerson')
  h2.ui.header
    if profile.picture
      img.ui.circular.image(src='#{profile.picture}')
    else
      img.ui.circular.image(src='https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png')
    .content
      | #{username}
      .sub.header #{mangos}

  .ui.feed
    each transactions
      .event
        .label
        .content
          .date #{createdAt}
          .summary
            a
            | #{sender.username} transfered #{mangos} Mangos to #{receiver.username}




