template(name='singlePerson')
  .ui.padded.grid.stackable
    .three.wide.column(style="border-right: solid 1px lightgrey;padding: 1.5em")
      h3.ui.header
        img.ui.image(src='#{profile.picture}')
        .content #{username}
          .sub.header #{mangos}
      .ui.divider

      .ui.vertical.secondary.menu
        a.active.item(data-tab="overview") Overview
        a.item(data-tab="transactions") Transactions (#{transactionsCount})
        a.item(data-tab="actions") Actions (#{actionsCount})
        a.item(data-tab="people") People (#{peopleCount})
        a.item(data-tab="messages") Messages (#{messageCount})


    .thirteen.wide.column.streched(style="padding: 2em")
      .ui.feed
        each transactions
          .event
            .label
            .content
              .date #{createdAt}
              .summary
                a
                | #{sender.username} transfered #{mangos} Mangos to #{receiver.username}
      .ui.active.attached.tab(data-tab="overview")
        +subOverview
      .ui.attached.tab(data-tab="transactions")
        +subTransactions
      .ui.attached.tab(data-tab="actions")
        +subActions
      .ui.attached.tab(data-tab="people")
        +subPeople
      .ui.attached.tab(data-tab="messages")
        +subMessages


